@charset "UTF-8";

/* CSS Document 
contenido: #f2b705
encabezado: #f29f05
equivalentes: #d97904
piepagina: #733702
auxiliar: #401801

*********
header: 
    fondo #222222
    letra #F2F2F2
    borde #343434

html: 
    fondo #2C2C2C
    letra #B8B8B8

btn azul: 
    fondo #016DC4 
    texto #FFFFFF

btn gris:
    fondo: #3F3F3F
    texto: #C9C9C9

input
    fondo: #555555
    texto: #EDEDED
    borde: 0.3px solid #C2C2C2
    borde sel: #2893EF

form
    fondo claro: #58585a
    
*/



/*Elementos de neutralidad*/

header,
article,
footer,
section,
nav,
aside {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

html {
    margin: 0;
    padding: 0;
    /*background: #1e5799;*/
    background: #252526;
}

body {
    margin: 0 auto;
    font-family: Verdana, Geneva, sans-serif;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h1 {
    position: relative;
    width: 100%;
    font-size: 38px;
    color: #F2F2F2;
}

h2 {
    color: #B8B8B8;
}

h1,
h2 {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 10px;
}

h3 {
    text-align: left;
    padding-top: 5;
    padding-right: 5;
    color: aliceblue;
}

h4 {
    color: aliceblue;
    float: left;
    margin: 0;
}


/*Etiquetas estructurales*/

header {
    height: 120px;
    background: #222222;
    border: 2px solid;
    border-bottom-color: #0595B9;
    margin-bottom: 5px;
    /*border-bottom-color: #343434;*/
    
}

section {
    height: 830;
    width: 96%;
    float: left;
}

aside {
    /*background: yellow;*/
    height: 800;
    width: 3%;
    float: left;

    background: rgba(197, 139, 139, 0.51);
}

footer {
    height: 10;    
    background: #0595B9;
}


/****** Otros elementos *******/ 
#logo {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    margin: 20 0 0 30;
}


#container .diasemana {    
    display:inline-block;
    position:relative;

    width:auto;
    min-width: 365px;
    height:100vh;

    background: #2C2C2C;
    border: 1px solid white;

    color: white;
    padding-top: 160px;
  }

#container {
    float: left;
    overflow-y:scroll;
    overflow-x:hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    position:relative;

    width:830px;
    height:1766px; /* altura rotada*/
  }
#calendario{    
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    white-space:nowrap;  
}  

.bloq-hours{
    float: left;
    padding-top: 30px;
    background:rgba(60, 179, 112, 0.9);
    height: 800px;
    width: 60px;
}

.hour{
    float: left;
    margin-top: 14px;
    background:rgba(60, 179, 112, 0.9);
    
    color: #702828;
}

.diasemana > div{
    display: block;
    float: left;    
    
    height: 33px;;
    
    max-height: 33px;
    width: 100%;

}

#lunesH7{     
    background: #206D33;    
}

#lunesH8{  
    background: #206932;
}

#lunesH9{  
    background: #206D33;
}

#lunesH10{  
    background: #206932;   
}
#lunesH11{  
    background: #206D33;   
}
#lunesH12{  
    background: #206932;   
}
#lunesH13{  
    background: #206D33;   
}
#lunesH14{  
    background: #4C691E;   
}
#lunesH15{  
    background: #435C1B;    
}
#lunesH16{  
    background: #4C691E;     
}
#lunesH17{  
    background: #435C1B;     
}
#lunesH18{  
    background: #4C691E;     
}
#lunesH19{  
    background: #435C1B;     
}
#lunesH20{  
    background: #4C691E;    
}
#lunesH21{  
    background: #435C1B;     
}
#lunesH22{  
    background: #253F86;   
}
#lunesH23{  
    background: #1E3269;   
}
#lunesH0{  
    background: #253F86;   
}
#lunesH1{  
    background: #1E3269;   
}
#lunesH2{  
    background: #253F86;   
}
#lunesH3{  
    background: #1E3269;   
}
#lunesH4{  
    background: #253F86;   
}
#lunesH5{  
    background: #1E3269;   
}
#lunesH6{  
    background: #253F86;   
}


.fin{  

    background:rgba(10, 150, 200, 0.9);

}
/*
.oper{
    
}*/
/*.oper:hover{
    border-color: #464647;
    background: #B3C299;
    color: #A59D9D;
}*/
.oper-mouserover{
    float: left;    
    text-align: center;
    
    padding-top: 3px;
    height: 25px;
    width: 50px;
    margin: 2 5 1 5;    
    border: 1px solid #222222;          
    border-radius: 5px;     
    cursor: pointer;

    border-color: #464647;
    background: #97E21D;
    color: black;
}

.oper-marked{
    float: left;    
    text-align: center;
    
    padding-top: 3px;
    height: 25px;
    width: 50px;
    margin: 2 5 1 5;    
    border: 1px solid;          
    border-radius: 5px;     
    cursor: pointer;

    border-color: #09FF00;
    background: #E21D1D;
    color: black;
}

.operaciones{
    float: left;    
    text-align: center;
    
    padding-top: 3px;
    height: 25px;
    width: 50px;
    margin: 2 5 1 5;    
    border: 1px solid #222222;          
    border-radius: 5px;     
    cursor: pointer;

    background: #427CAC;
}

.vacaciones{
    float: left;    
    text-align: center;
    
    padding-top: 3px;
    height: 25px;
    width: 50px;
    margin: 2 5 1 5;    
    border: 1px solid #222222;          
    border-radius: 5px;     
    cursor: pointer;

    color: #5C5959;
    background: gray;
}

.capacitacion-reunion{
    background: gray;
}

.gira{
    background: gray;
    
}










.bloq-normal{
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 50px;    
    background:rgba(60, 179, 112, 0.9);
    float: left;
    color: white;
    font-size: 20px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    text-align: center;
}
.bloq-noflex{
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    height: 50px;
    background:rgba(60, 179, 112, 0.9);
    float: left;
    color: white;
    font-size: 20px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    text-align: center; 
}
.bloq-dif{
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 50px;
    background:rgba(60, 155, 179, 0.9);
    float: left;
    color: white;
    font-size: 20px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    text-align: center;
}
/*
.anchocolumna{
    width: 200px;
}*/
.encabezado{
    color:   rgba(37, 37, 38, 0);
    height: 0px;
}