@charset "UTF-8";

/* CSS Document 
contenido: #f2b705
encabezado: #f29f05
equivalentes: #d97904
piepagina: #733702
auxiliar: #401801

*********
header: 
    fondo #222222
    letra #F2F2F2
    borde #343434

html: 
    fondo #2C2C2C
    letra #B8B8B8

btn azul: 
    fondo #016DC4 
    texto #FFFFFF

btn gris:
    fondo: #3F3F3F
    texto: #C9C9C9

input
    fondo: #555555
    texto: #EDEDED
    borde: 0.3px solid #C2C2C2
    borde sel: #2893EF

form
    fondo claro: #58585a
    
*/


/*Elementos de neutralidad*/

header,
article,
footer,
section,
nav,
aside {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
}

html {
    margin: 0;
    padding: 0;
    /*background: #1e5799;*/
    background: #252526;
}

body {
    margin: 0 auto;
    font-family: Verdana, Geneva, sans-serif;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}


/*Etiquetas estructurales*/

header {
    height: 120px;
    background: #222222;
    border-style: solid;
    border-bottom-color: #343434;
}

#mensajetop {
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    background-color: firebrick;
    height: 40;
    display: none;
}

#mensajetop_display {    
    text-align: center;
    font-size: 25px;
    height: 40;
}

#general{
    width: 100%;
    height: 84%;
    margin-top: 0px;
}

#superiornavegacion{
    margin-top: 0px;
    width: 100%;
    height: 50px;
    float: left;
}

#nuevo{
    width: 50%;
    height: 100%;
    float: left;
}

#atras{
    width: 50%;
    height: 100%;
    float: right;
    text-align: right;
}

.avisoFormulario{
    display: block;  
    position: relative;  
    background: none;
    height: 50px;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    padding: 20 0 15 0;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 10px;
    cursor: pointer;    
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: none;
    
}

.avisoFormulario:hover{
    background: #FFAB49;
    color: #fff;
}

.mensajeriaOk{
    display: block;
    background: #016DC4;
    height: auto;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    padding: 20 0  15 0;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 5%;
    cursor: pointer;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: none;
}

.mensajeriaInfo{
    display: block;
    background: none;
    height: auto;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    padding: 20 0  15 0;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 5%;
    cursor: pointer;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: none;
}

.mensajeriaError{
    display: block;
    background: firebrick;
    height: auto;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    padding: 20 0  15 0;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 5%;
    cursor: pointer;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: none;
}

.mensajeriaAdvertencia{
    display: block;
    background:  #cc9900;
    height: auto;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    padding: 20 0  15 0;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 5%;
    cursor: pointer;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: none;
}

section {
    /*background: green;*/
    height: 700;
    width: 60%;
    float: left;
}

aside {
    /*background: yellow;*/
    height: 700;
    width: 20%;
    float: left;
}

footer {
    height: 0px;
    background: #73A5FF;
}

#invalido{
    visibility: hidden;
}

.fila:hover{
	background-color: #016DC4;
    color: indianred;
}

/***********************************/

h1 {
    position: relative;
    width: 100%;
    font-size: 38px;
    color: #F2F2F2;
}
h2 {
    color: #B8B8B8;
}

h1,
h2 {
    text-align: center;
    padding-top: 1em;
    /*color: 5a5a5a;*/
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    padding-top: 30;
    color: aliceblue;
}

h4 {
    color: aliceblue;
    float: left;
    margin: 0;
}

label {
    color: aliceblue;
    font-size: 18px;
}


/*******************************/

.input-field {
    display: block;
    text-align: center;
    margin: 0 auto;    
    border: 0.3px solid #C2C2C2;
    padding: 7px;
    outline: none;
    font-size: 28px;
    font-family: fantasy;
    color: #EDEDED;
    background: #555555;
}

.input-field:focus {
    border: 0.3px solid #2893EF;
}

.input-field-readonly {
    display: block;
    text-align: center;
    margin: 0 auto;
    border:none;
    padding: 7px;    
    font-size: 40px;
    font-family: fantasy;
    color: #B8B8B8;    
    font-style: italic;
    background: none;
}

.chk-input {
    display: block;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 100px;
    outline: none;
    font-size: 28px;
    font-family: fantasy;
    color: grey;
}

.nbtn {    
    border: none;
    padding: 9px 17px 10px 17px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 50;
}

.nbtn:hover {
    background: #FFAB49;
    color: #fff;
}

.nbtn_blue {
	background: #016DC4;
	border: none;
	color: #FFFFFF;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 15px;
	border-radius: 2px;
	letter-spacing: 1px;
    /**/
    display: block;
    margin: 0 auto;
    margin-top: 50;
}

.nbtn_blue-sp-c {
	background: #016DC4;
	border: none;
	color: #FFFFFF;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 15px;
	border-radius: 2px;
	letter-spacing: 1px;
    /**/
    display: block;
    
}

.nbtn_blue:hover {
	background: #1478b1;
}

.nbtn_gray {
    background: #3F3F3F;
	border: none;
	color: #C9C9C9;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 15px;
	border-radius: 2px;
	letter-spacing: 1px;
    /**/
    display: block;
    margin: 0 auto;
    margin-top: 50;
}

.nbtn_gray-sp-c {
    background: #3F3F3F;
	border: none;
	color: #C9C9C9;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 15px;
	border-radius: 2px;
	letter-spacing: 1px;
}

.nbtn_gray:hover {
	background: #1478b1;
}


#btncontinuar, #btnsalida{
    width: 200%;
    margin-bottom: 30px;
    display: none;
}

.textarea-field {
    width: 40%;
    display: block;
    margin: 0 auto;
    text-align: justify;
    padding: 7px;
    outline: none;
    font-size: 15px;    
    height: 100px;
    /**/
    border: 0.3px solid #C2C2C2;
    color: #EDEDED;
    background: #555555;
}

.textarea-field:focus {
    border: 0.3px solid #2893EF;    
}


/********************************/

#form {
    /*background: gray;*/
    display: block;
    margin: 50 50 50 50;
    height: auto;
    border-bottom: 1px solid #58585a;
}

#logo {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    margin: 20 0 0 30;
}

.login {
    
    padding-top: 50px;
    width: 350;
    margin: 0 auto;
    height: auto;
   /* 
    
    background: #58585a;
        
    /*-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-radius: 3px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: 15%;
    position: absolute;
    left: 0;
    right: 0;*/
}

#fechahora {
    display: block;
    float: right;
    color: #a5a5a5;
    font-size: 20;
    margin-right: 3%;
}

#signin {
    display: block;
    float: left;
    width: 250;
    color: #a5a5a5;
    font-size: 20;
    margin-left: 20px;
}

span.required {
    color: red;
}

span.campoperfil {
    display: block;
    text-align: center;
    margin: 0 auto;
}

nav.btnfrm {
    margin: 0 auto;
}

nav.btnfrm ul {
    display: block;
    margin: 0 auto;
    list-style-type: none;
    padding: 3;
    overflow: hidden;
    width: 400;
}

nav.btnfrm li {
    width: 200;
    display: block;
    margin: 0 auto;
    float: left;
}


#imgdelete{
    height: 17px;
    text-align: center;
    margin-left: 50px;
}
#imgagregar{
    height: 17px;
    text-align: center;
    margin-left: 50px;
}


/***********************combo box sala******************************/
 /*fondo #016DC4
    texto #FFFFFF*/
.sala {
    margin: 0 auto;
    margin-top: 20;
    width: 350;
}

.sala .field {
    width:100%; 
    background: #016DC4; 
    color:#FFFFFF;     
    padding:5px 5px; 
    border:none; 
    cursor:pointer;
	font-family:'lucida sans unicode',sans-serif; font-size:1.2em;
	border:solid 1px #C2C2C2;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.sala .field:hover {
    border: solid 1px #C2C2C2;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999
}

.sala>ul.list {
    display: none;
    position: absolute;
    /*left: 30px;
    top: -30px;*/
    z-index: 999;
    width: 15%;
    margin: 0;
    padding: 10px;
    list-style: none;
    background: #fff;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

.sala>ul.list li {
    padding: 10px;
    border-bottom: solid 1px #ccc;
}

.sala>ul.list li:hover {
    background: #1478b1;
    color: #fff;
}

.sala>ul.list li:last-child {
    border: none
}

.field::-webkit-input-placeholder {
    color: #FFFFFF;
    text-align: center;
}

.field::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFFFFF;
    text-align: center;
}

.emptyfield {
    background-color: firebrick !important;
}

.fullfield {
    background-color: #ccc;
}



/******************************************/

.dialog-message {
    display: none;
}

/**************************VENTANA MODAL*******************/
/*header: 
    fondo #222222
    letra #F2F2F2
    borde #343434

html: 
    fondo #2C2C2C
    letra #B8B8B8*/
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content */

.modal-content {
    position: relative;
    background-color: #2c2c2c;
    margin: auto;
    padding: 0;
    border: 1px solid #343434;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
/* The Close Button */

.close {
    color: #58585a;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #222222;
    color: #F2F2F2;
    border-bottom: 1px solid #58585a;
    margin-bottom: 10px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: 58585a;
    color: white;
}

.modal-izq{
    float: left;    
    width: 50%;
    margin-bottom: 100px;
}

.modal-der{
    float: right;
    width: 50%;
    margin-bottom: 100px;
}



