@charset "UTF-8";
/* CSS Document 
contenido: #f2b705
encabezado: #f29f05
equivalentes: #d97904
piepagina: #733702
auxiliar: #401801
*/
/*Elementos de neutralidad*/
header, article, footer, section, nav, aside{
	display:block;
	margin:0;
	padding:0; 
}
html{
	margin:0;
	padding:0;
	background: #1e5799; 
}
body{
/*	width:960px;*/
	margin:0 auto;
	font-family:Verdana, Geneva, sans-serif;
}
p, h1, h2, h3{
	margin:0;
	padding:0;
}

/*Etiquetas estructurales*/
header{
    height:120px;
	background:#73A5FF;
}
footer{
	height:0px;
	background:#73A5FF;
}
h1, h2{
    text-align: center;   
    padding-top: 1em;
    color: aliceblue;
    margin-bottom: 10px;
}
h3{
    text-align: center;   
    padding-top: 3em;
    color: aliceblue;
}
label{
    padding-bottom: 12px;
    color:aliceblue;
    font-size: 18px;
    display: block;
    position: relative;
}
span.required{
    color:red;
}
span.campoperfil{
	margin-left: 310;
}
.contenido {    
    padding:0 50 50 50 50;
	margin: 0px auto;
	height:  500px;
    width: 900;5
}

#login{
    display: block;
    float: right;
    width: 65;
    height: 30px;
    color: white;
    font-size: 20;
    margin-right: 30px;
}

#mensaje{  
    padding: 10px;
    margin-top: 0;
    display: none;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    /*border:2px solid #FFD83A;*/
    background-color: firebrick;
    /*opacity: 1;
    transition: opacity 0.6s;*/
    height: 30;
    /*margin-bottom: 15px;*/
}
#perfilheader{
	margin-top:75;
	margin-bottom:75;
}
#form{
    float:left;
    display: block;
    padding-top: 100;
    padding-left: 310;
    padding-right: 10;
    height:auto;
    width: auto;
}
#mensajes{
    float:right;
    margin: 0;
    padding-right: 200;
    /*height: 350px;
    width: 180px;*/
    height: 350px;
    margin-left: 5px;
}
#checkingreso{
	display:block;
	float: left;
    margin-top: 163px;
    
}
#enviarPerfil{
    margin-left: 310;
}
#salidaDetalle{
    display: block;
	margin-top: 300px;
}

.input-field{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.textarea-field{
    width: 100%;
    display: block;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /*padding: 7px;*/
    outline: none;
}
.contenido .input-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    font-size:28px;
    font-family: fantasy;
    color: grey;
}
.contenido .textarea-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    font-size:15px;
    color: grey;
    height: 100px;
}
.contenido [type=submit],
.contenido [type=button]{
    border: none;
    padding: 9px 17px 10px 17px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    display: block;
    margin-left: 100;
    margin-top: 10;
    
}

.contenido [type=submit]:hover,
.contenido [type=button]:hover{
    background: #FFAB49;
    color: #fff;
}